# Resolved for CPython 3.11 on aarch64-manylinux_2_28.
# Source packages are limited to releases available on 2024-10-24, matching
# the kotoba-whisper-v2.2 release stack.
accelerate==1.0.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.3
antlr4-python3-runtime==4.9.3
asteroid-filterbanks==0.4.0
attrs==24.2.0
audiomentations==0.37.0
audioread==3.0.1
black==22.8.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
coloredlogs==15.0.1
colorlog==6.8.2
contourpy==1.3.0
cycler==0.12.1
datasets==3.0.2
decorator==5.1.1
denoiser==0.1.5
diarizers @ git+https://github.com/huggingface/diarizers.git@f3c8ae500f55ad2b02b719fce1495ea2794ca9fe
dill==0.3.8
docopt==0.6.2
einops==0.8.0
filelock==3.16.1
flake8==7.1.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.9.0
greenlet==3.1.1
huggingface-hub==0.25.2
humanfriendly==10.0
hydra-colorlog==0.1.4
hydra-core==0.11.2
hyperpyyaml==1.2.2
idna==3.10
importlib-metadata==8.5.0
isort==5.13.2
jinja2==3.1.4
joblib==1.4.2
julius==0.2.7
kiwisolver==1.4.7
lazy-loader==0.4
librosa==0.10.2.post1
lightning==2.4.0
lightning-utilities==0.11.8
llvmlite==0.43.0
mako==1.3.6
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
networkx==3.4.2
numba==0.60.0
numpy==1.26.4
numpy-minmax==0.3.1
numpy-rms==0.4.2
omegaconf==2.3.0
onnxruntime==1.19.2
optuna==4.0.0
packaging==24.1
pandas==2.2.3
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pooch==1.8.2
primepy==1.3
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
punctuators==0.0.5
pyannote-audio==3.3.2
pyannote-core==5.0.0
pyannote-database==5.1.0
pyannote-metrics==3.2.1
pyannote-pipeline==3.0.1
pyarrow==17.0.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
pygments==2.18.0
pyparsing==3.2.0
pystoi==0.4.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytorch-metric-learning==2.6.0
pytz==2024.2
pyyaml==6.0.2
regex==2024.9.11
requests==2.32.3
rich==13.9.3
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.12
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.12.0
semver==3.0.2
sentencepiece==0.2.0
setuptools==75.2.0
shellingham==1.5.4
six==1.16.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.12.1
soxr==0.5.0.post1
speechbrain==1.0.1
sqlalchemy==2.0.36
sympy==1.13.3
tabulate==0.9.0
tensorboardx==2.6.2.2
threadpoolctl==3.5.0
tokenizers==0.20.1
torch==2.4.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.5
torchaudio==2.4.1
torchmetrics==1.5.1
tqdm==4.66.5
transformers==4.45.1
typer==0.12.5
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
xxhash==3.5.0
yarl==1.16.0
zipp==3.20.2
